.fib {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.fib.horizontal {
    flex-direction: row;
}

.fib.vertical {
    flex-direction: column;
}

.fib.big {
    border-style: solid;
    border-width: 1px;
}

.fib.leaf {
    border-style: solid;
    border-width: 1px;
}

.fib.horizontal>.fib.big {
    width: 61%;
}
.fib.horizontal>.fib.small {
    width: 39%;
}

.fib.vertical>.fib.big {
    height: 61%;
}

.fib.vertical>.fib.small {
    height: 39%;
}